.doc-container-login{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.doc-container-signup{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.doc-container-login .form-input label{
    font-size: 1rem;
}

.doc-container-login .input-text{
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

.doc-container-signup .input-text{
    font-size: 1rem;
    margin-bottom: 1.2rem;
}



.form-input{
    background-color: var(--white);
    padding: 3rem;
    width: 400px;
}

.form-input h2, h4{
    text-align: center;
    margin-bottom: 1.2rem;
}


form.hide_show input[type="password"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--default-color);
    border-right: none;
    float: left;
    width: 80%;
  }

.input-text{
    border-radius: 0%;
}
  
  form.hide_show button {
    float: left;
    width: 20%;
    padding: 10px;
    border-left: none;
    font-size: 1rem;
    border: 1px solid var(--default-color);
    border-left: none;
    cursor: pointer;
    background-color: var(--white);
  }

  form.hide_show button:hover{
      color: var(--primary-color);
  }

.login-footer{
    display: flex;
    justify-content: space-between;
}

.margin-top{
    margin-top: 10px;
}

.login-footer a{
    color: var(--primary-color);
    font-weight: 600;
}
